
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*navbar*/
nav{
    height:56px;
    width:100%;
    box-shadow: 0px 1px 3px #ccc;
display: flex;
justify-content: space-between;
padding: 8px 13px 0px;
position: sticky;
top: 0;
background-color: white;
z-index: 3;
}

.nav-left{
    display: flex;
    padding-bottom: 8px;
}
.nav-left .fa-facebook{
    color: #1877f2;
    font-size: 40px;
}
.search{
    position: relative;
}
.search input{
    border: none;
    margin-left: 5px;
  background-color: #f0f2f5;
  border-radius: 50px;
  padding:7px 16px 9px 36px;
  color: #606770;
    font-size: 15px;
  height: 40px;
}
.search .fa-search{
    color: #606770;
    position: absolute;
    font-size: 15px;

    left: 15px;
    top:12px ;
}
.nav-left input:focus{
    outline: none;
}

.nav-middle{
    display: flex;
    align-items: flex-end;
}
.nav-middle a {
    text-decoration: none;
    color: #65676b;
    font-size: 25px;
    padding:10px 20px;
    margin:0px 10px ;
    border-radius: 8px;
}
.nav-middle a:hover{
    background-color: rgba(0, 0, 0,0.05);
}
.nav-middle .active{
    color: #1877f2;
    border-radius: 0px;
    border-bottom: 2px solid #1877f2;
}
.nav-middle .active:hover{
    background-color: white;
}
.nav-right{
    display: flex;
    align-items: center;
    padding-bottom: 8px;

}
.nav-right .profile{
    display: flex;
    align-items: center;
margin-right: 5px;
padding: 2px 10px 2px 2px;
border-radius: 8px;
}
.nav-right .profile:hover{
    background-color: rgba(0, 0, 0,0.05);
}
.profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
object-fit: cover;
}
.nav-right .profile p{
    color:#050505 ; 
    font-size: 15px;
    font-weight: 600;
    margin-left: 3px;
}

.nav-right a{
    color: #050505;
    background-color: #e4e6eb;
    text-decoration: none;
    font-size:18px;
    margin: 5px;
display: flex;
  justify-content: center;
  align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.nav-right a:hover{
    background-color: #cacaca;
}
/**end navbar*/
.secall{
    display: flex;
justify-content: space-between;
background-color: #f0f2f5;

}
/*left side*/
.left_side{
    background-color:#f0f2f5;
height: 100vh;
overflow-y: hidden;
position: sticky;
left: 0;
top: 56px;

width: 400px;

}
.left_side:hover{
    overflow-y: scroll;
}
  ::-webkit-scrollbar{
    background: #e5e8eb !important;
    width: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background: #bcc0c4 !important;
    width: 5px;
    border-radius:5%;
 }
.left_side li{
    display: flex;
    align-items: center;
    padding:10px 10px 10px;
    border-radius: 8px;
}
.left_side li:hover{
    background-color: rgba(0, 0, 0,0.05);
}
.left_side p{
    color:#050505; 
    font-size: 15px;
    font-weight: 400;
    margin-left: 3px;
}
.left_side img{
    width:35px;
    height: 35px;
    object-fit: cover;
}
.userImg{
    border-radius: 50%;
    
}
/*end left side*/

/*right side*/
.right_side{
    background-color:#f0f2f5;
height: 100vh;
overflow-y: hidden;
position: sticky;
right: 0;
top: 56px;
padding:20px;
width: 400px;
}
.right_side:hover{
    overflow-y: scroll;


}
.sponsored p{
    color: #65676b;
    font-size: 20px;
    margin-top: 10px;

}
.sponsored div{
display: flex;
align-items: center;
margin-top: 20px;
color: #050505;
border-radius: 8px;
padding: 5px 50px 5px 5px;

}
.sponsored div h3{
    font-size: 15px;
}
.sponsored div:hover{
    background-color: rgba(0, 0, 0,0.05);
}
.sponsored img{
    border-radius: 8px;
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.sponsored h3{
    margin-left: 10px;
}
.contact_icons{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.contacts p{
    color: #65676b;
    font-size: 20px;
    margin-top: 10px;
}
.contact_icons i{
    color: #65676b;
    margin: 0px 5px;
}
.contacts li{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
}
.contacts img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.contacts li p{
    margin-left: 5px;
}
.contacts li:hover{
    background-color: rgba(0, 0, 0,0.05);
}
/*end right side*/

/*start middle*/
.middle{
    padding: 0px 100px;

}
.container
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.firstleft
{
    background-color: white;
    overflow:hidden;
    width:90%;
    height:250px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #ddd;
    position:relative;

}

.firstleft .icons
{
    font-size: 20px;
    color:white;
    position: absolute;
    left: 38%;
    top: 69%;
    background-color: #1877F2;
    padding:8px;
    border-radius: 50%;
    object-fit: cover;
    border:solid 4px  white;
}
.firstleft p
{
    text-align: center;
    margin-top: 25px;
    color:black;
}
.firstleft .firstimg
{
    width:100%;
    height:190px;
    border-radius: 10px;
    position: relative;
    transition:all ease-in-out 1s;

}
.second2 
{
    position:relative;
}
.second2 .small
{
    position:absolute;
    top: 11px;
    left: 18px;
    width:40px;
    height:40px;
    border-radius: 50%;
    z-index: 2;
    border: solid 4px #1877F2;
}
.second2 .second
{
    height: 100%;
    transition:all ease 2.5s;
}
.second2 .second:hover
{
    transform: scale(1.1);
}
.second2 p
{
    color:white;
    position: absolute;
    bottom:10px;
    left:8px;
}

.mind
{
    background:white;
    height: 150px;
    bottom:140px;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #ddd;
margin: 20px 0px;
   padding-top: 10px;
}
.mind .inmind
{
    border-radius: 50%;
    width:45px;
    height:45px;
    margin-right: 10px;
    object-fit: cover;
}
.mind2
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.mind hr
{
    margin-top: 15px;
    margin-left: 28px;
    width:93%;
    background-color:rgb(190, 189, 189);
}
.mind input
{
    background:#f0f2f5;
    padding:10px;
    border-radius: 50px;
    width:88%;
    outline:none;
    border: none;
}
.mind input:hover
{
    background-color: rgba(0, 0, 0,0.1);
}
.under
{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
.under .firstu
{
    display:flex;
    padding: 5px;
}
.under .firstu:hover
{
    background-color: rgba(0, 0, 0,0.05);
   border-radius: 10px;
   
}
.under .firstu .caption
{
    margin:5px 0 0 10px;
    color:rgb(231, 219, 219);
    text-decoration: none;
}
.under i
{
    font-size:30px;
}
.fa-video{
    color: #f3425f;
}
.fa-images{
    color: #45bd62;
}
.fa-laugh{
    color: #f7b928;
}
/*posts*/
.Fpost{
    background-color: white;
    padding:20px 20px 5px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #ddd;
margin-top: 20px;
}
.postDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.postDetail img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.postDetail{
    display: flex;
    justify-content: space-between;
}
.postDetail  p{
    color: #898e94;
    font-size: 12px;
    margin-top: 5px;
}
.thepost p{
    margin: 20px 0px;
}
.thepost img{
width: 100%;
height: 300px;
object-fit: cover;
}
.reacts{
    padding: 20px 50px 0;
    border-top: 1px solid #898e94;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #898e94;
    
}
.reacts i{
    color: #898e94;
    margin-right: 5px;
}
.reacts div{
    display: flex;
    align-items: center;
}
/*end middle*/
@media  only screen and (max-width:1080px){
    .middle{
        padding: 0px 50px;
    
    
    }
    .left_side{
        display: none;


    }
    .search input{
width: 50px;
    }
}
@media  only screen and (max-width:882px){
    .right_side{
        display: none;


    }
    .nav-middle{
        display: none;
    }
}
